<header>
	<div class="header-inner">
		<a href="/" class="logo">
			<span></span>SF Prosit</a>

		<nav>
			<a href="/app/offers" class="{{ currentPage|default('') == 'search' ? 'active' : '' }}">Offres</a>

			{# Only show 'Publier' for admins or pilots #}
			{% if user and (user.role == 'admin' or user.role == 'pilote') %}
				<a href="/app/offers/new" class="{{ currentPage|default('') == 'editor' ? 'active' : '' }}">Publier</a>
			{% endif %}

			{% if user %}
				{# If user is logged in #}
				<a
					href="/profile" class="{{ currentPage|default('') == 'profile' ? 'active' : '' }}" title="Mon Compte">
					{# Use the 'default' filter to provide a fallback if first_name is missing #}
					Profil ({{ user.first_name|default('PRENOM MANQUANT') }})
				</a>
				<a href="/logout" style="color: var(--clr-danger); opacity: 1;">Logout</a>
			{% else %}
				{# If user is guest #}
				<a href="/login" class="{{ currentPage|default('') == 'login' ? 'active' : '' }}">Connexion</a>
				<a href="/register" class="{{ currentPage|default('') == 'register' ? 'active' : '' }}">S'inscrire</a>
			{% endif %}

			<button id="theme-toggle" class="btn-theme" style="margin-left: 10px;">L/D</button>
		</nav>
	</div>
</header>
